.Menu{ 

    .wrapper{
      
       
        .title{
            padding: 100px 50px;
            background-color: rgba(242, 242, 242, 0.426);
            margin: 40px 150px;
             @media only screen and (max-width: 600px){
        
             margin: 40px 0px;
    }
    
            h1{
                font-size: 30px;
                font-weight: 700;
                margin-left: 6vw;
                
                color: #380d0d; 
            }
            p{
                font-size: 20px;
                font-weight: 300;
                margin-left: 6vw;
            }
        }
        .card{
            padding: 80px 30px;
            background-color: rgb(117, 116, 116);
            display: flex;
            flex-direction: column;
            
            

            hr{
                margin: 20px 4vw;
                width: 82vw;
                border: 1px solid rgba(58, 20, 20, 0.349);
            }
            
            .itemTitle{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                margin-left: 4vw;
                
                h2{
                    flex: 4;
                    font-size: 26px;
                }
                h3{
                    flex: 1;
                    font-size: 24px;
                }
            }
            .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                 margin-left: 4vw;
                
                
                
                h2{
                    flex: 4;
                    font-size: 20px;
                    color: rgb(48, 48, 48);

                }
                h3{
                    flex: 1;
                    font-size: 20px;
                    color: rgb(48, 48, 48);
                }
            }
            
            
    
          
            
        }
    } 
    .back{
  
        background-image: linear-gradient(rgba(0,0,0,0.5),#76535389),url(x.jpeg);
        background-size: cover;
        background-position: center;
        
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: -2; 
      
    }
}